{% extends 'layout/playarea.html.twig' %}
{#Etendre le layout du site  pour avoir toute la css et js nécessaire ainsi que la structure de base
C'est une page uniquement créer pour l'enregistrement d'un nouvel utilisateur#}



{% block title %}Log in!{% endblock %}

{% block content %}
    <section class="contact-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 col-xl-9">
                    <div class="contact-content mb-100">
                        <h4 class="mb-50 green-color"> S'identifier</h4>
                        {{ form(registerForm) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
