{% extends 'layout/playarea.html.twig' %}
{#Etendre le layout du site  pour avoir toute la css et js nécessaire ainsi que la structure de base#}


{% block content %}
    <div class="container">
{#        une page uniquement pour renvoyer un message pour que l'utilisateur sache que son message/ sa
proposition ont bien été envoyés#}
    <div class="green-color thanks">
        <h1>Merci </h1>
    </div>
    </div>

{% endblock %}