{#création de cette page juste pour envoyer quand l'utilisateur vient de signaler un commentaire#}
<span class="flag-success">Le commentaire a été signalé,merci de veiller à la tenues des commentaires </span>